In [8]:
import numpy as np 
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
train_data = pd.read_csv('sign_mnist_train.csv')
test_data = pd.read_csv('sign_mnist_test.csv')

In [3]:
#784 pixels per image
train_data.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,3,107,118,127,134,139,143,146,150,153,...,207,207,207,207,206,206,206,204,203,202
1,6,155,157,156,156,156,157,156,158,158,...,69,149,128,87,94,163,175,103,135,149
2,2,187,188,188,187,187,186,187,188,187,...,202,201,200,199,198,199,198,195,194,195
3,2,211,211,212,212,211,210,211,210,210,...,235,234,233,231,230,226,225,222,229,163
4,13,164,167,170,172,176,179,180,184,185,...,92,105,105,108,133,163,157,163,164,179

In [4]:
labels = np.array((train_data['label'].unique()))
print(f"Sorted labels: {np.sort(labels)}")
print(f"No. labels: {len(labels)}")

Sorted labels: [ 0  1  2  3  4  5  6  7  8 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]
No. labels: 24

In [5]:
#train/test split
X_train = train_data.drop(['label'], axis = 1) 
X_test = train_data['label']
y_train = test_data.drop(['label'], axis = 1)
y_test = test_data['label']

In [7]:
X_train.head(5)

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,107,118,127,134,139,143,146,150,153,156,...,207,207,207,207,206,206,206,204,203,202
1,155,157,156,156,156,157,156,158,158,157,...,69,149,128,87,94,163,175,103,135,149
2,187,188,188,187,187,186,187,188,187,186,...,202,201,200,199,198,199,198,195,194,195
3,211,211,212,212,211,210,211,210,210,211,...,235,234,233,231,230,226,225,222,229,163
4,164,167,170,172,176,179,180,184,185,186,...,92,105,105,108,133,163,157,163,164,179

In [29]:
from mlp import MLP
model = MLP()

In [30]:
training_example = np.array([np.array(X_train.iloc[0].values)])
training_example.shape

(1, 784)

In [31]:
test_pred = model.make_predictions(training_example)

ValueError: shapes (784,20) and (1,784) not aligned: 20 (dim 1) != 1 (dim 0)